@import "node_modules/bootstrap/less/bootstrap.less";
@import "themes/bootstrap.less";

.react-grid-Cell {
  border-right: 1px solid #eee;
}
.react-grid-Cell:last-child {
  border-right: none;
}

.react-grid-Cell:hover {
  background: #eee;
}
.react-grid-Cell.selected {
  border: 2px solid #5292F7;
  background: #eee;
}
.react-grid-Cell:focus {
  outline: none;
}

.react-autocomplete-Autocomplete__search {
  .form-control();
}

.react-autocomplete-Autocomplete__results {
  .dropdown-menu();
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.react-autocomplete-Result {
  cursor: pointer;
  & > a {
    text-decoration: none;
  }
}

.react-autocomplete-Result--active {
  color: @dropdown-link-hover-color;
  background-color: @dropdown-link-hover-bg;
}
